.about{
  background: #C5C1B5;
  background: linear-gradient(0deg, rgba(197, 193, 181, 1) 0%, rgba(180, 150, 164, 1) 71%);
}
section.about .content {
  display: grid;
  grid-template-columns: 560px 1fr;
  grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
  grid-auto-flow: dense;
  width: 80vw;
  margin: 0 auto;
  gap: 10px;
  height: 90%;
}

.desc {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  opacity: 1;
  transform: translateY(-20px);
}

.picture {
  grid-column: 1 / 2;
  grid-row: 3 / 9;
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateX(-20px);
}

.picture img {
  width: auto;
  height: 100%;
  transform: scaleX(-1);
}

.edu {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  opacity: 0;
  transform: translateX(20px);
}

.arch {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  opacity: 0;
  transform: translateX(20px);
}

.exp {
  grid-column: 2 / 3;
  grid-row: 3 / 7;
  opacity: 0;
  transform: scale(0.1);
}

.exp .item {
  display: flex;
  flex-direction: row;

}
.exp .item .timeline {
  width: 120px;
  text-align: left;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.contacts {
  grid-column: 2 / 3;
  grid-row: 7 / 9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
}
.contacts a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  background-color: white;
  padding: 2px;
  width: 60px;
}
.contacts img{
  width: 30px;
  height: 30px;
}
.contacts img:last-child{
  width: 15px;
  height: 15px;
}


@media (max-width: 768px) {
  section.about .content {
    width: 97%;
    height: 90%;
    margin: 0 auto;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px repeat(auto-fit, minmax(60px, 1fr));
  }
  .desc{
    grid-column: span 2;
    grid-row: span 1;
  }
  .picture{
    grid-column: span 1;
    grid-row: span 2;
  }
  .edu{
    grid-column: span 1;
    grid-row: span 1;
  }
  .arch{
    grid-column: span 1;
    grid-row: span 1;
  }
  .exp{
    grid-column: span 2;
    grid-row: span 5;
  }
  .contacts{
    grid-column: span 2;
    grid-row: span 1;
  }
}