.certificates {
  background-image: url('img/background/certificatesbg-lands.jpg');
  position: relative;
  box-shadow: 0px 69px 44px 0px #CEA660 inset;
  -webkit-box-shadow: 0px 69px 44px 0px #CEA660 inset;
  -moz-box-shadow: 0px 69px 44px 0px #CEA660 inset;
}

.certificates .categories {
  display: flex;
  gap: 10px;
  padding: 15px;
  width: 100%;
}

.certificates li {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.certificates .categories li.active {
  background: rgba(0, 0, 0, 0.575);
  color: white;
  border-color: white;
}

.certificates .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  overflow-x: hidden;
}

.certificates .category {
  display: none;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 10px;
}

.slider-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  transition: transform .4s ease;
}

.slider-wrapper .slide {
  display: none;
  width: 300px;
  height: 200px;
  background: #0077b6;
  color: white;
  font-size: 3em;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.slider-wrapper .slide[data-cat="recognations"] {
  display: flex;
}

.slide.active {
  width: 600px;
  height: 400px;
}

.slide img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.slider-nav {
  position: absolute;
  text-align: center;
  margin-top: 20px;
  left: 7vw;
  right: 7vw;
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  font-size: 2em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.nav-btn.prev {
  margin-right: 10px;
}

.nav-btn.next {
  margin-left: 10px;
}

@media (max-width: 480px) {
  .slider-wrapper .slide {
    width: 150px;
    height: auto;
  }
  .slider-wrapper .slide.active {
    width: 320px;
    height: auto;
  }

}