* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
  align-items: end;
}

.footer .rate-card {
  flex: 2;
}

.rate-card h3 {
  text-align: center;
  font-size: 1.5rem;
}

.footer .rate-card .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.footer .card {
  width: 320px;
  height: max-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.54);
}

.footer .card .header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0;
}

.footer .card h4 {
  font-size: 1.2rem;
  padding: 5px 10px;
  /* background-color: red; */
}

.footer .card .price {
  background-color: blue;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.footer .card .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px 10px;
}

.footer .card .desc p {
  text-align: justify;
  text-indent: 2em;
}

.footer .card .desc .ext {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;

}

.footer .card .desc span {
  background-color: yellow;
  border-radius: 7px;
  padding: 3px 7px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.footer .card .desc span img {
  width: 15px;
  height: auto;
}

.footer .email {
  flex: 1;
}

.footer .email form {
  width: 480px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 100px 50px;
}

.footer .email input:first-child {
  grid-column: span 1;
}

.footer .email input:nth-child(2) {
  grid-column: span 1;
}

.footer .email textarea {
  grid-column: span 2;
}

.footer .email button {
  grid-column: span 2;
  padding: 12px;
  background-color: white;
  border: none;
  border-radius: 6px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.email button:hover {
  background-color: orange;
}

@media (max-width: 760px) {
  html {
    font-size: 14px;
  }

  .footer {
    flex-direction: column;
  }
}

.email input,
.email textarea {
  padding: 1rem;
  background-color: white;
  border: 1px solid orange;
  border-radius: 6px;
  color: orange;
  font-size: 0.95rem;
  outline: none;
}

.email input:focus,
.email textarea:focus {
  border-color: orange;
}